.id {
    font-weight: 700;
    color: rgb(223, 63, 63);
}
.id span {
    color: rgb(144, 23, 23);
}
.name, .email{
    font-weight: 900;
    color: rgb(88, 117, 232);
}
.name span, .email span {
    color: rgba(176, 50, 138, 0.674);
    font-style: italic;
}

.p {
    color: blueviolet;
    font-style: italic;
}